{% extends '_base.html' %}
{% load static %}


{% block content %}
<div class="w-full h-screen overflow-hidden grid lg:grid-cols-2">
    <div class="w-full h-full bg-green-100 hidden lg:flex justify-center items-center">
        <div class="max-w-screen-sm px-5 w-full mx-auto flex flex-col gap-8 items-center text-center">
            <a href="{% url 'main' %}" class="flex gap-2 items-center">
                <img src="{% static 'images/logo.png' %}" class="w-36" alt="">
                <div class="grid gap-2 text-left">
                    <h1 class="text-6xl font-black">Аралас оқыту</h1>
                    <span class="text-gray-500">Білім алушыларға арналған онлайн білім беру платформасы</span>
                </div>
            </a>
            <span class="text-gray-500">
                Дәстүрлі сыныптағы оқыту мен онлайн оқыту әдістерін біріктіретін білім беру моделі
            </span>
        </div>
    </div>

    <div class="overflow-auto p-5">
        {% block layout_content %}
        {% endblock layout_content %}
    </div>
</div>
{% endblock content %}