{% extends '_base.html' %}
{% load static %}


{% block content %}
<div class="h-screen flex flex-col">
    <!-- Alerts -->
    {% if messages %}
    <ul class="messages fixed z-50 bottom-5 right-5">
        {% for message in messages %}
        <li class="">
            <div class="alert {{ message.tags }} flex items-center p-4 mb-4 text-green-800 rounded-lg bg-green-100"
                role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <div>
                    {{ message }}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Header nav -->
    <nav class="w-full bg-green-600">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <!-- Logo -->
                    <div class="flex items-center justify-start rtl:justify-end">
                        <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar"
                            aria-controls="logo-sidebar" type="button"
                            class="inline-flex items-center p-2 text-sm text-white rounded-lg sm:hidden hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-gray-200">
                            <span class="sr-only">Open sidebar</span>
                            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd" fill-rule="evenodd"
                                    d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                                </path>
                            </svg>
                        </button>
                        <div  class="flex gap-2 items-center ms-2 md:me-24">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'images/logo.png' %}" class="w-28" alt="BL Logo" />
                            </a>
                            <div class="hidden md:grid">
                                <h1 class="text-2xl text-white font-black">{{ user_lesson.lesson.title }}</h1>
                                <span class="text-gray-100">{{ user_lesson.lesson.chapter.title }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="relative">
                        {% if user_lesson.completed %}
                            <a 
                                href="{% url 'lesson_detail' user_subject.id chapter.id next_lesson.id %}" 
                                class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
                            >
                                Келесі сабаққа өту
                            </a >
                        {% else %}
                            {% for item in user_tasks %}
                                {% if item.is_done %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="complete_lesson">
                                        <button 
                                            type="submit" 
                                            class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
                                        >
                                            Сабақты аяқтау
                                        </button>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                
                
                <!-- User settings -->
                <div class="flex items-center gap-2">
                    <!-- Languages -->
                    <div class="relative">
                        <button id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots"
                            class="inline-flex items-center p-2 text-sm font-medium text-center text-white rounded-lg hover:bg-green-700 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50"
                            type="button">
                            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m13 19 3.5-9 3.5 9m-6.125-2h5.25M3 7h7m0 0h2m-2 0c0 1.63-.793 3.926-2.239 5.655M7.5 6.818V5m.261 7.655C6.79 13.82 5.521 14.725 4 15m3.761-2.345L5 10m2.761 2.655L10.2 15"/>
                            </svg>
                            <span class="">Қазақша</span>
                        </button>
                        
                        <!-- Dropdown menu -->
                        <div id="dropdownDots"
                            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton">
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Қазақша</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Русский</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">English</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Account -->
                    <div class="flex items-center ms-3">
                        <div>
                            <button type="button"
                                class="flex text-sm border border-white rounded-full focus:ring-4 focus:ring-gray-300"
                                aria-expanded="false" data-dropdown-toggle="dropdown-user">
                                <span class="sr-only">Open user menu</span>
                                <img class="w-8 h-8 rounded-full"
                                    src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static '/images/user.png'%}{% endif %}"
                                    alt="user photo"
                                >
                            </button>
                        </div>
                        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
                            id="dropdown-user">
                            <div class="px-4 py-3" role="none">
                                <h1 class="font-semibold">{{ user.first_name }} {{ user.last_name }}</h1>
                                <p class="text-sm text-gray-900 dark:text-white" role="none">
                                    {{ user.username }}
                                </p>
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                                    {{ user.email }}
                                </p>
                            </div>
                            <ul class="py-1" role="none">
                                <li>
                                    <a href="{% url 'profile' %}"
                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                        role="menuitem">Профиль</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                        role="menuitem">Баптаулар</a>
                                </li>
                                <li>
                                    <form method="post" action="{% url 'logout' %}" class="w-full">
                                        {% csrf_token %}
                                        <button 
                                            type="submit"
                                            class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                        >
                                            Жүйеден шығу
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Data -->
    <div class="flex-1">
        <div class="flex items-start h-full">
            <!-- Left side -->
            <div class="flex-1 bg-gray-100 h-full overflow-y-auto">
                {% block course_content %}
                {% endblock course_content %}
            </div>
        
            <!-- Right side -->
            <div class="max-w-md w-full grid gap-4 border-l overflow-auto" style="height: calc(100vh - 85px);">
                <div id="accordion-open" data-accordion="open">
                    {% for item in chapters_with_lessons %}
                        <h2 id="accordion-open-heading-{{ item.chapter.id }}">
                            <button 
                                type="button"
                                class="flex justify-between text-lg w-full p-5 text-left font-medium text-gray-500 border-b border-gray-200 focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 gap-3"
                                data-accordion-target="#accordion-open-body-{{ item.chapter.id }}" 
                                aria-expanded="true"
                                aria-controls="accordion-open-body-{{ item.chapter.id }}"
                            >
                                <a href="{% url 'chapter_detail' user_subject.id item.chapter.id %}">{{ forloop.counter }} модуль: {{ item.chapter.title }}</a>
                                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5 5 1 1 5" />
                                </svg>
                            </button>
                        </h2>
                        <div id="accordion-open-body-{{ item.chapter.id }}" class="block" aria-labelledby="accordion-open-heading-{{ item.chapter.id }}">
                            <div class="border-gray-200">
                                {% for user_lesson in item.user_lessons %}
                                    {% url 'lesson_detail' user_subject.id item.chapter.id user_lesson.id as lesson_url %}
                                    <a 
                                        href="{% if user_lesson.is_open %}{{ lesson_url }}{% else %}#{% endif %}"
                                        class="flex items-center justify-between gap-4 p-4 border-b transition-all hover:bg-gray-100 {% if request.path == lesson_url %}bg-green-600 text-white hover:bg-green-600{% else %}text-gray-500{% endif %}"
                                    >
                                        <div class="flex items-center gap-2">
                                            <div>
                                                {% if user_lesson.completed %}
                                                    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                                    </svg>
                                                {% else %}
                                                    {% if user_lesson.is_open %}
                                                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.03v13m0-13c-2.819-.831-4.715-1.076-8.029-1.023A.99.99 0 0 0 3 6v11c0 .563.466 1.014 1.03 1.007 3.122-.043 5.018.212 7.97 1.023m0-13c2.819-.831 4.715-1.076 8.029-1.023A.99.99 0 0 1 21 6v11c0 .563-.466 1.014-1.03 1.007-3.122-.043-5.018.212-7.97 1.023"/>
                                                        </svg>
                                                    {% else %}
                                                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14v3m-3-6V7a3 3 0 1 1 6 0v4m-8 0h10a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1Z"/>
                                                        </svg>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div>
                                                <h1 class="font-medium">{{ item.chapter.order }}.{{ user_lesson.lesson.order }}: {{ user_lesson.lesson.title }}</h1>
                                            </div>
                                        </div>
                                        
                                        <div class="flex gap-2">
                                            <div class="flex gap-2 items-center">
                                                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                                </svg>
                                                <span class="">{{ user_lesson.lesson.duration }}:00</span>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}