/* Alerts */
.success {
    background-color: #dcfce7;
    color: #166534;

}

.error {
    background-color: #fdf2f2;
    color: #9b1c1c;
}



#text-content a {
    color: rgb(0, 92, 197);
    text-decoration: underline;
}

#text-content ul li {
    list-style: disc;
}

#text-content ol li {
    list-style: decimal;
}